
body {

	background-image: url("github.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
	font-family: helvetica;
}


.main {

	width: 1000px;
	position: absolute;
	top: 30%;
	left: 20%;
}

#container {
	
    border: 5px solid darkslategrey;
	width: 280px; 
	text-align: center;

}

#git-user {
  
  width: 98%;
 
}

.information {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
	
	position: absolute;
	width: 400px;
	background-color: lightslategrey;
	left: 50%;
	top: 30%;
    border: 5px solid darkslategrey;
    padding: 10px;
}


.information span{
	display: block;
	grid-column: 2 / span 2;
    text-align: center;
    align-self: center;

}

.information img{
	width: 100%;
	height: 120px;
	grid-row: 1 / span 2;
}

.git-search-list {
 
width: 165px; 


}

.div-user {
	border: 1px solid black;
	border-collapse: collapse;
	width:100%;
	background-color: seashell;
}

.div-user:hover{
	background-color: orange;
}

.toggle {

	display: none;
}